/*{
    margin: 0;
    padding: 0;
}
*/
.wrapper{ 
    width: 100%;
    height: 150px; 
    /*padding: 0 0 0 0;
	margin: 0 auto 0 auto;*/
}

header {
        display:  block;
        width: 100%;
        height:  150px;
        background: rgb(0, 0, 0);
        box-shadow: 0 0 50px;
}
.text_header{
    color:#D1F0C6;
    font-family: 'Raleway';
    /*margin-left: 50px;
    font-size: x-large;
    padding-top: 50px;*/
    font-size: 5ch;
}
html{
        background-repeat: no-repeat;
        background-position: center center;
        background-attachment: fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
}
#logo{
    width: 100px; 
    height: 100px;
    background: url(logo.gif);
    float:  left;/*
    padding-right: 20px;
    margin: 20px;*/
}

body{
    background: url(back2.jpg);
    height: 100%;
    flex-direction: column;
    display: flex;
    background-attachment: fixed;
}
.content{
    width: 100%;
}

.block_form
{
    width: 100%; 
    display: flex;
    flex-direction: column;
    /*margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 50px;*/
    order:2;
    color: white;
    
    --borderWidth: 2px;
    background: #1D1F20;
    position: relative;
    border-radius: var(--borderWidth);
}
.block_form:after {
    content: '';
    position: absolute;
    top: calc(-1 * var(--borderWidth));
    left: calc(-1 * var(--borderWidth));
    height: calc(100% + var(--borderWidth) * 2);
    width: calc(100% + var(--borderWidth) * 2);
    background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
    border-radius: calc(2 * var(--borderWidth));
    z-index: -1;
    animation: animatedgradient 3s ease alternate infinite;
    background-size: 300% 300%;
  }
  form{
    /*margin-left: 10px;*/
  }

.block_tabl
{
    width: 100%; 
    display: flex;
    flex-direction: column;
    /*margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 50px;
    padding-left:5px;
    padding-right:5px;*/
    order:3;
    color: white;

    --borderWidth: 2px;
    background: #1D1F20;
    position: relative;
    border-radius: var(--borderWidth);
}
.block_tabl:after {
    content: '';
    position: absolute;
    top: calc(-1 * var(--borderWidth));
    left: calc(-1 * var(--borderWidth));
    height: calc(100% + var(--borderWidth) * 2);
    width: calc(100% + var(--borderWidth) * 2);
    background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
    border-radius: calc(2 * var(--borderWidth));
    z-index: -1;
    animation: animatedgradient 3s ease alternate infinite;
    background-size: 300% 300%;
  }
.top_bot{
    /*padding-top: 50px;
    padding-bottom: 50px;*/
}
.block_ss
{
    width: 100%; 
    color: white;
    display: flex; 
    flex-direction: column;
    /*margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 50px;
    color: white;*/

    --borderWidth: 2px;
    background: #1D1F20;
    position: relative;
    border-radius: var(--borderWidth);
}
.block_ss ol{
    /*margin-left: 30px;*/
}
.block_ss:after {
    content: '';
    position: absolute;
    top: calc(-1 * var(--borderWidth));
    left: calc(-1 * var(--borderWidth));
    height: calc(100% + var(--borderWidth) * 2);
    width: calc(100% + var(--borderWidth) * 2);
    background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
    border-radius: calc(2 * var(--borderWidth));
    z-index: -1;
    animation: animatedgradient 3s ease alternate infinite;
    background-size: 300% 300%;
  }
  
h1{
    color:rgb(189, 111, 189);
}

table{  
    text-align: center;
    border-spacing: 5px; /* Расстояние между ячейками */
    border:5px;
    /*margin: auto;*/
}


table td{
    width:200px;
    height:50px;
}
table tr:nth-child(odd)
{
    background:rgb(26, 80, 21);;
    /*padding: 5px; /* Поля вокруг текста */
}
table tr:nth-child(even)
{
    background:rgb(32, 47, 88);
    /*padding: 5px; /* Поля вокруг текста */
}

.ss a{
    color: rgb(7, 133, 49);
    /*background: rgba(255, 255, 255, 0.514);*/
    text-decoration: none;
}
.ss li{
    /*margin-bottom: 4px;*/
    text-align:left;
}
ul{
    list-style: none;
}
.ss ol{
    display:inline-table;
}

.menu{
    /*margin: 15px 15px 30px 15px; 
    padding-top: 5px;
    padding-bottom: 100px;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.menu ul {
    background:#d078e686; /*добавляем фон всему меню (заменив этот параметр, вы поменяете цвет всего меню)*/
  }
.menu a {
    text-align: center;
    text-decoration: none; /*убираем подчеркивание текста ссылок*/
    width: 100%; 
    height: 50px;
    color:#fff; /*меняем цвет ссылок*/
    /*margin-left: 15px;
    margin-right: 15px;
    margin: 0 auto;*/
    font-size: 200%;
    font-family: arial; /*меняем шрифт*/
    line-height:50px; /*ровняем меню по вертикали*/
    display: block; 

    --borderWidth: 1px;
    background: #1D1F20;
    position: relative;
    border-radius: var(--borderWidth);
  }
  .menu a:after {
    content: '';
    position: absolute;
    top: calc(-1 * var(--borderWidth));
    left: calc(-1 * var(--borderWidth));
    height: calc(100% + var(--borderWidth) * 2);
    width: calc(100% + var(--borderWidth) * 2);
    background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
    border-radius: calc(2 * var(--borderWidth));
    z-index: -1;
    animation: animatedgradient 3s ease alternate infinite;
    background-size: 300% 300%;
  }

.menu a:hover {
    background:#3769d446;/*добавляем эффект при наведении*/
  }

.menu li {
    /*margin-top: 20px;*/
    width: 100%;
    flex-direction: column;
  }

footer {
    box-shadow: 0 0 50px;
    display: block; 
    width: 100%; /* Ширина слоя */
    height: 50px; 
    background: black;
    order:4;
}
footer p{
    text-align: center;
    color:#D1F0C6;
    font-family: 'Raleway';
}
  
  @keyframes animatedgradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@media screen and (min-width: 426px) {
    body
    {
    background: url(back.jpg);
    height: 100%;
    background-attachment: fixed;
    }
    .menu{
        width: 960px;
        /*margin: 0 auto;*/
        flex-direction: row;
    }
    /*.menu li{
        /*margin: 10px;
    }
    .menu a{
        padding:1px;
    }*/
    .block_ss{
        width: 960px;
        /*margin: 0 auto;
        margin-bottom: 50px;*/
    }
    .wrapper{
        width: 960px;
    }
    .block_form{
        width: 960px;
        /*margin: 0 auto;
        margin-bottom: 50px;*/
        order:3;
    }
    .block_tabl{
        width: 960px;
        /*margin: 0 auto;
        margin-bottom: 50px;*/
        order:2;
    }
    footer {
        order:4;
    }
  }